body {
  background-color: #fdf6e3;
}

.App-header {
  text-align: center;
  background-color: #002b36;
  height: 50px;
  padding: 10px;
  color: #93a1a1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  /*font-size: large;*/
  max-width: 60em;
  margin: 1em auto;
}

.App-body {
  border-top: 1px solid #073642;
  text-align: left;
  background-color: #fdf6e3;
  padding: 1em 0em;
  max-width: 60em;
  margin: 1em auto;
}

.yaml-wrapper {
  /*padding: 20px;*/
  margin: 12px auto;
  /*width: 80%;*/
}

.yaml {
  font-family: "Consolas", "monospace";
  background-color: #002b36;
  color: #93a1a1;
  margin: 12px auto;
  /*max-width: 60em;*/
  text-align: left;
  padding: 20px;
  white-space: pre-wrap;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-appearance: none;
  border:0;
  outline:0;
}



/*
Solarized pallete:
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
*/