.App {
  text-align: left;
  background-color: #fdf6e3;
  padding: 0px 2em;
}

.App-header {
  text-align: center;
  background-color: #002b36;
  height: 50px;
  padding: 10px;
  color: #93a1a1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.yaml-wrapper {
  /*padding: 20px;*/
  margin: 12px auto;
  /*width: 80%;*/
}

.yaml {
  font-family: "Consolas", "monospace";
  background-color: #002b36;
  color: #93a1a1;
  margin: 12px auto;
  text-align: left;
  padding: 20px;
  white-space: pre-wrap;
}

/*
Solarized pallete:
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
*/