select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
}

input, select, button {
  background-color: #eee8d5;
  color: #586e75;
  padding: 12px;
  margin: 0px 12px;
  width:auto;
  font-size: 12pt;
  text-align: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
	  -ms-transition:0.3s ease all;
	   -o-transition:0.3s ease all;
	      transition:0.3s ease all;
}

button {
    font-weight: bold;
    background-color: #93a1a1;
}

.yaml {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-appearance: none;
  border:0;
  outline:0;
}

#blue {
  background-color:#3498DB;
}

#blue:hover {
  background-color:#2980B9;
}

#green {
  background-color:#2ECC71;
}

#green:hover {
  background-color:#27AE60;
}

#red {
  background-color:#E74C3C;
}

#red:hover {
  background-color:#C0392B;
}

select:focus, select:active {
  border:0;
  outline:0;
}